@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Commissioner', sans-serif;
}
#header{
    background: #152026 url(./img/bg.png) no-repeat top;
    background-size:cover;
}
.nav_main{
    background: rgba(255, 255, 255, 0.05);
}
.nav{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}
.nav_logo{
    width: 200px;
}
.nav_logo img{
    width: 100%;
}
.navbar{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar li{
   margin: 0 20px;
}
.navbar li a{
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.7;
    font-size: 14px;
    transition: .3s ease-in-out;
}
.navbar li a:hover{
    opacity: 1;
}
.nav_contact{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}
.nav_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    color: #fff;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
.search input{
    width: 80%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 5px 0 5px 10px;
    font-weight: 400;
}
.select{
    display: flex;
    align-items: center;
}
.select h3{
    font-weight: 400;
    font-size: 14px;
    margin-right: 15px;
}
.search_btn{
     background: rgba(255, 255, 255, 0.1);
     border-radius: 8px;
     padding: 10px;
     cursor: pointer;
     transition: .3s ease-in-out;
}
.search_btn i{
    transition: .3s ease-in-out;
}
.search_btn:hover{
    background: #fff;
}
.search_btn:hover i{
    color: #D6101A;
}
.favorite{
    background: rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.favorite:hover{
    background: #fff;
}
.favorite:hover i{
    transition: .3s ease-in-out;
    color: #D6101A;
}
.static{
    background: rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.static:hover{
    background: #fff;
}
.static:hover img{
    transition: .3s ease-in-out;
    color: #D6101A;
}
.order button{
    background: rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transform: .3s ease-in-out;
}
.order button:hover{
    background: #fff;
      transform: .3s ease-in-out;
      color: #D6101A;
}
.header_main{
    margin-top: 100px;
    margin-left: 250px;
    color: #fff;
}
.header_main h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}
.main_list{
    list-style: none;
}
.main_list li{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.main_list i{
    color: #D6101A;
    font-size: 20px;
    margin-right: 10px;
}
.main_list li h2{
    font-size: 20px;
    font-weight: 500;
}
.header_card_main{
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    width: 70%;
    margin: 0 auto;
}
.header_card{
    padding: 50px;
    width: 49%;
    border-radius: 16px;
    height: 250px;
}
.header_card:first-child{
    background: url(./img/Group\ 14.png) no-repeat center;
    background-size: cover;
}
.header_card:last-child{
    background: url(./img/Group\ 15.png) no-repeat center;
    background-size: cover;
}
.header_card h1{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.header_card p{
    font-weight: 400;
    color: #fff;
    opacity: 0.5;
    line-height: 32px;
    margin-bottom: 20px;
    font-size: 18px;
}
.header_card a{
    color: #EB5757;
    font-weight: 500;
    font-size: 18px;
    transition: .3s ease-in-out;
}
.header_card a:hover{
    color: #fff;
}
.select_main{
    width: 70%;
    margin: 0 auto;
    color: #fff;
}
.select_main h1{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}
.select_main h1 span{
    color: #EB5757;
}
.select_form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select_form select{
    width: 19%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 8px;
    color: rgba(21, 32, 38, 0.8);
    transition: .3s ease-in-out;
}
.select_form select:hover{
    border: solid red;
    transition: .3s ease-in-out;
}
.select_form input{
    width: 19%;
    height: 40px;
    border: 1px solid #fff;
    padding: 0 10px;
    outline: none;
    border-radius: 8px;
    color: rgba(21, 32, 38, 0.8);
    transition: .3s ease-in-out;

}
.select_form input:hover{
    border: solid red;
    transition: .3s ease-in-out;
}
.select_options{
    margin-top: 20px;
    column-gap: 10px;
    display: flex;
    align-items: center;
}

.option_card:first-child{
    display: flex;
    align-items: center;
    background: #EB5757;
    opacity: 1;
}
.option_card:first-child h3{
    padding: 0 5px;
}

.option_card{
    color: #fff;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0.8;
    border-radius: 20px;
}
.option_card h3{
    font-size: 12px;
    font-weight: 400;
}
.form_lines{
    margin: 30px 0;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255, 025);
}
.form_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_checkbox{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.form_checkbox input{
     transition: scale(1.3);
}
.form_checkbox h3{
    font-weight: 500;
    font-size: 14px;
}
.form_btn{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.form_btn button{
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.form_bottom button:first-child{
    background: rgba(255, 255, 255, 0.2);
}
.form_bottom button:last-child{
    background: #EB5757;
}
.form_bottom button:first-child:hover{
    background: #fff;
    color: #D6101A;
}
.form_bottom button:last-child:hover{
    background: #fff;
    color: #D6101A;
}
.sale_main{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.type{
     background: rgba(158, 171, 184, 0.223);
     width: 20%;
     display: flex;
     padding-right: 100px;
     align-items: flex-end;
     flex-direction: column;
     justify-content: center;
}
.tupe h1{
   font-size: 24px;
   font-weight: 700;
   color: #152026;
}
.type ul{
   margin-top: 10px;
   margin-right: 10px;
   list-style: none;
}
.type ul li{
    margin-bottom: 10px;
}
.type ul li a{
    color: #152026;
    text-decoration: none;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
    transition: .3s ease-in-out;
}
.type ul li a:hover{
     opacity: 1;
}
.sales{
    padding-top: 50px;
    padding-left: 50px;
    width: 80%;
}
.sales_title h1{
    font-size: 38px;
    font-weight: 700;
}
.sales_title h1 span{
    color: #D6101A;
}
.sales_options{
    display: flex;
    align-items: center;
    width: 600px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
}
.sales_options_card{
    background: #9EABB8;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
}
.sales_product{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.sales-card{
    width: 30%;
}
.sales_card_img{
    position: relative;
    width: 100%;
    height: 250px;
}
.sales_card_img img{
     width: 100%;
     height: 100%;
}
.sales_card_icons{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    background: rgba(182, 193, 204, 0.3);
    border-radius: 0px 8px;
    cursor: pointer;
}
.sales_card_icons i{
    color: #fff;
    font-size: 18px;
}
.sales_card_icons img{
    width: 20px;
}
.left{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(182, 193, 204, 0.3);
    border-radius: 0px 8px;
    padding: 5px 15px;
    font-size: 18px;
    transition: .2s ease-in-out;
}
.left:hover{
    color: #D6101A;
    background: #fff;
}
.right{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background: rgba(182, 193, 204, 0.3);
    border-radius: 8px 0px;
    padding: 5px 15px;
    font-size: 18px;
    transition: .2s ease-in-out;
}
.right:hover{
    color: #D6101A;
    background: #fff;
}
.sales_card_text{
     margin-top: 20px;
}
.sales_card_text h1{
    color: #152026;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.sales_card_text p{
    color: #152026;
    opacity: .5;
    font-size: 16px;
    width: 350px;
}
.sales_card_price{
    background: rgba(158, 171, 14, 0.211);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}
.sales_card_price h3{
    color: #152026;
    opacity: .5;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.sales_card_price h1{
    color: #152026;
    font-size: 24px;
    font-weight: 700;
}
.sales_card_price h1::after{
    content: "870 000 $";
    text-decoration: line-through;
    opacity: .5;
    font-weight: 500;
    margin-left: 20px;
    font-size: 14px;
}
.sales_card_price p{
    opacity: 1;
}
.sales_card_price p{
    color: #152026;
    opacity: 1;
}
.sales_card_text a{
    color: #D6101A;
}
#three_ways{
    padding: 50px 100px;
}
.three_ways_top h1{
    width: 500px;
    margin-left: 40%;
    font-weight: 700;
    font-size: 32px; 
    margin-bottom: 50px;
}
.three_ways_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.three_ways_left{
    width: 370px;
}
.three_ways_left h1{
    margin: 0 auto;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 26px;
}
.line{
    width: 50px;
    height: 3px;
    color: #D6101A;
}
.three_ways_left p{
    font-weight: 400;
    font-size: 16px;
    color: #152026;
    margin-bottom: 30px;
}
.three_ways_left a{
    color: #D6101A;
    text-decoration: none;
    margin-left: 65px;
}
#credit{
    padding-top: 50px;
    background: #152026;
    position: relative;
}
/* .credit_sky{ 
    position: absolute;
    top: -50%;
    right: 10%;
    background: radial-gradient(50% 50% at 50% 50%, #D6101A 0%, rgba(214, 16, 26, 0) 100%);
    opacity: 0.5;
    width: 1000px;
    height: 1000px;
} */
.credit_main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 45px;
    color: #fff;
}
.credit_left{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 600px;
}
.credit_title{
    margin-bottom: 10px;
    width: 420px;
    margin-right: 10px;
}
.credit_title h1{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}
.credit_title h1 span{
    color: #EB5757;
}
.credit_left img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: -40px;
}
.credit_model h3{
   font-size: 18px;
   font-weight: 700;
}
.credit_model-main{
    display: flex;
    align-items: center;
    margin: 15px 0 20px 0;
    justify-content: space-between;
}
.credit_model-main select{
    width: 45%;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.credit_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cr_block{
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.cr_block h3{
    font-size: 18px;
    font-weight: 700;
}
.cr_block input[type=range]{
    position: relative;
    margin-top: 30px;
    width: 100%;
}
.cr_block input[type=range]::before{
    content: "30 000 P";
    top: -15px;
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.5;
    color: #fff;
}
.cr_block input[type=range]::after{
    content: "1 000 000 P";
    top: -15px;
    right: 0;
    opacity: 0.5;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    color: #fff;
}
.cr_block input[type=number]{
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 10px;
}
.credit_form{
    margin: 20px 0;
}
.credit_form h3{
    font-size: 18px;
    font-weight: 700;
}
.credit_form_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.credit_form_main input{
    width: 45%;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.pii{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: .5;
}
.pii a{
     color: #fff;
}
.get_offer{
    margin-top: 15px;
    background: #EB5757;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.credit_right{
    width: 500px;
}
#adventure{
    padding: 100px 150px 50px 150px;
}
.adventure_main{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
}
.adventure_title{
    color: #152026;
    font-size: 36px;
    font-weight: 700;
}
.adventure_left p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #152026;
}
.coop{
    margin: 25px 0;
}
.coop h2{
    font-size: 20px;
    font-weight: 500;
    color: #152026;
}
.coop_main{
    margin-top: 15px;
    display: flex;
    align-items: center;
    row-gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.coop_card{
    width: 40%;
    column-gap: 10px;
    display: flex;
    align-items: center;
}
.coop_card h1{
    font-size: 15px;
    font-weight: 400;
    color: #152026;
}
.coop_card_icon{
    background: rgba(111, 207, 151, 0.256);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coop_card_icon i{
    color: #6FCF97;
    font-size: 14px;
}
.adventure_right{
    background: rgba(158, 171, 184, 0.225);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.adventure_right h1{
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    color: #152026;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 80px;
}
.adventure_right p{
    font-size: 18px;
    font-weight: 400;
    color: #152026;
    padding: 15px 30px 0 30px;
}
.adventure_right img{
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.adventure_left{
    width: 620px;
}
#feedback{
    padding: 50px 100px;
    background: #9EABB8;
}
.feedback_title{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    color: #333333;
}
.feedback_main{
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.feedback_main input{
    width: 200px;
    height: 34px;
    border-radius: 10px;
    background: rgba(51, 51, 51, 0.1);
    color: #9EABB8;
    border: none;
    outline: none;
    margin-top: 30px;
}
.feedback_main select{
    width: 200px;
    height: 34px;
    border-radius: 10px;
    background: rgba(51, 51, 51, 0.1);
    color: rgba(51, 51, 51, 0.322);
    border: none;
    outline: none;
    margin-top: 30px;
}
.feedback_main button{
    width: 200px;
    height: 34px;
    border-radius: 10px;
    background: #EB5757;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 30px;
}
.feedback{
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
#footer{
    background: #152026;
    color: #fff;
    padding: 50px 0;
}
.footer_main{
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
    justify-content: center;
}
.footer_link h1{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer_link ul{
    list-style: none;
}
.footer_link ul li{
    margin: 5px 0;
}
.footer_link ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: .2s ease-in-out;
    opacity: 0.5;
}
.footer_link ul li a:hover{
    opacity: 1;
}
.footer_contact a{
   font-size: 18px;
   font-weight: 700;
   color: #fff;
   text-decoration: none;
}
.footer_social{
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.footer_social i{
    opacity: .5;
    cursor: pointer;
    font-size: 18px;
    transition: .2 ease-in-out;
    margin-bottom: 20px;
}
.footer_social i:hover{
    opacity: 1;
}
.avito_shop{
    text-decoration: underline !important;
    color: #fff;
    font-size: 15px !important;
    font-weight: 400 !important;
    transition: .2s ease-in-out;
    opacity: 0.5;
}
.avito_shop:hover{
    opacity: 1;
}